[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
[submodule "CQL_Database_Engine/external/imgui"]
	path = CQL_Database_Engine/external/imgui
	url = https://github.com/ocornut/imgui.git
